body {
	font-family: Arial, sans-serif;
	font-size: 1em;
	padding: 0em 0em;
	margin: 0em 0em; 
}

header {
	background-image: url("https://download.unsplash.com/photo-1432691301971-c8b920198bd7");
	background-size: cover;
	background-position: center center; 
	background-repeat: no-repeat; 
	padding-top: 8em;
	padding-bottom: 8em;
	border-top: 1em solid #69696A;
	text-align: center;
}
header p { margin: 0em; padding; 0em; }
header p:first-child {
	font-size: 2em;
	margin-bottom: 0em;  
}

header p:nth-child(2) {
	font-size: 6em;
	font-family: Verdana, sans-serif; 
	margin-top: -.2em;
	text-transform: uppercase; 
}

h2 { font-size: 2em;}

h3{color: #0000FF; }



section, .footer-content{
	width: 35em;
	max-width: 75%;
	margin: 0em auto;
	padding: 0em 2em; 
}

section {margin-top: 4em;}

#increasePadding {padding-bottom: 2em; }

#increaseMargin {margin-bottom: 2em; }

#increasePadding p {margin-bottom: 3em;}

a {
	text-decoration: none; 
	color: #FF0000;	
}

footer {
	background-color: rgba(255, 167, 32, 0.4);
	text-align: center;
	padding: 3em 0em; 	
	}
	
footer li {
	display: inline-block; 
	margin-right: 0.5em;
	margin-left: 0.5em;
}	

@media only screen and (max-width: 500px) {
	header {padding: 3em 0em;}
	header p:nth-child(2) {font-size: 3em;}
	footer li {display: block;}
}

